.example-full-width {
  width: 100%;
}

.boton {
  top: -20px;
}

.mat-card-actions-align-end {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.contenido{
  display: inline-block;
}

.example-card{
  min-width: 500px;
  max-width: 820px;
}

.mat-column-demo-position {
  width: 36px;
  border-right: 1px solid currentColor;
  padding-right: 30px;
  text-align: center;
}
